/* ====================================  GENERAL  ===========a========================= */
.content{
	margin-bottom:30px;
}

body {
  /*font-family: Open Sans, sans-serif; */
  font-family: Calibri;
  color: #000000;
  /*font-weight: 700;*/
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f6f6f6; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
    background-color: #9d9d9c; /* On hover color */
}

/* OVERWRITE BOOTSTRAP STYLE */
.list-group-item {
  padding: 0.2rem 1.25rem!important;
  font-size:0.8rem!important;
}
/* ================================  NAV & BREADCRUMB  ================================ */
.breadcrumb-item.active {
    color: #000000;
    font-weight: bold;
}
.breadcrumb {
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: 0;
  list-style: none;
  background-color: #fff;
  margin-bottom: 1rem;
}

.nav-sticky {
	/*margin-top:-50px;*/
	padding-bottom: 25px;
	position: fixed;
	background-color: #FFFFFF;
	width: 100%;
	z-index: 1;
}

.page-body {
	padding-top:125px
}

/* NAV BAR COLOUR */
.navbar-colour {
  background-color: #000000;
}

/* NAV DROPDOWN COLOUR */
.navbar-nav ul{
  background-color: #000000;
	border-style: none;
}

.navbar-nav .nav-link {
    padding-left: 8px;
}

/* OVERWRITE BOOTSTRAP'S STYLING */
.dropdown-item:hover {
  background-color: #000000;
}

/* NAV MENU ITEMS COLOUR */
.nav-anchor-colour a{
  color: #fff!important;
  text-decoration: none;
  display: inline-block; /* HOVER ANIMATED LINE */
}

.nav-item-highlight a:hover {
  color: #9d9d9c!important;
}

/* ORIGINAL VALUE (BOOTSTRAP) 1.5 */
/*@media(min-width:1200px){
  .custom-nav-height {
    height: 12vh;
  }
}*/

@media (max-width: 1199px) {
	.navbar-brand {
		margin:4px 8px;
		padding:4px 10px;
	}
}

.nav-link {
	padding-top:0.25rem;
	padding-bottom:0.25rem;
}

.custom-nav-font-size {
	font-size: 1.3rem;
}

.custom-search-width {
	width: 128px!important;
	margin:0px 8px;
	padding:4px 10px;
}

/* NAV SUB MENUS */
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
  margin-top:-1px;
} 
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:100%;
  margin-top:-6px;
}

/* .navbar-nav li:hover > ul.dropdown-menu-2 {
  display: block;
} */

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
} 

/* OVERWRITE BOOTSTRAP STYLE */
.dropdown-item:focus {
  background-color: #000000;
}

.dropdown-menu {
	min-width:12rem;
}

/*.dropdown-menu-2 {
    position: absolute;
    top: 0;
    left: 100%;
	margin-top:-6px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}*/

.dropdown-menu-2 {
    display: none;
	list-style: none;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    /* text-align: inherit; */
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.dropdown-menu-2 > ul{
display:none
}


/* NAV BORDER COLOR */
nav#menu-nav {
  border-bottom: 6px solid #00acee;
} 
nav:after {
  content: "";
  display: block;
  clear: both;
}
/* ===================================  HOME PAGE  =================================== */

.slider {
  min-height: 450px;
  overflow: auto;
  position: relative;  }
  
.slider:before {
  content: "";
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background: url(../img/slider.jpg) top center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
/*
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }
  @media (max-width: 992px) {
	.slider {
		min-height: 400px; }*/ }

.slider-title_box {
  text-align: center; 
}

.slider-content_wrap h5 {
  color: #212529;
  font-weight: 400;
  margin: 24px 0; 
}
/*@font-face {
  font-family: Montserrat Semi Bold;
  src: url("../fonts/montserrat-semibold.otf") format("opentype");
}*/

/* HEADER TEXT STYLING */
h1 {
  font-family: Calibri;
  /*font-size: 50px;*/
  font-weight: 300;
  /*text-shadow: 2px 2px 6px #000000;*/  }
  @media (max-width: 1200px) {
    h1 {
      font-size: 46px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 30px; } }
	  
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    text-align: center;
}

.text-muted {
	color: #6c757d!important
}

/* ==================================  INDEX PAGES  ================================== */
   
div.dataTables_wrapper {
  /*width: 100%;*/
  margin: 0 auto;
}

.table-custom-style thead {
	/*color: #FFFFFF!important;*/
	background-color: #DCDCDC!important;
}

/* EXCEL BUTTON ON RIGHT OF TABLE */
div.dt-buttons {
	float: right;
}

/* EXCEL NO BUTTON STYLE */
button.buttons-excel {
	/*border: none;*/
	/*padding: 0;*/
  background: none;
  border-radius: 30px;
}

/* EXCEL BUTTON REMOVE HOVER EFFECT */
/*button.dt-button:hover:not(.disabled) {
	border: none;
	background-color: #fff;
	background-image: none;
}*/

/* TOGGLABLE CLASS TO EXPAND TABLE CELLS */
.reduceCellHeight {
  height: 4em; 
  overflow: hidden;
}

.cellResize-btn {
  float: right;
  border-radius: 100%;
}

/* ==================================  INDEX TABLES  ================================== */
table.dataTable thead .sorting {
  background-image: url("../img/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../img/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../img/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/sort_desc_disabled.png");
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #11111138;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #11111138;
}
.table-description-col th:nth-child(2), 
.table-description-col td:nth-child(2) { 
  /*white-space: nowrap;*/
  width: 700px!important;
}

.table-description-col-3 th:nth-child(3), 
.table-description-col-3 td:nth-child(3) { 
  /*white-space: nowrap;*/
  width: 700px!important;
}

/* WIDTH OF LAST n CHILD */
.table-description-col-last-1 tr th:nth-last-child(-n+1),
.table-description-col-last-1 tr td:nth-last-child(-n+1) {
  width: 200px;
}

.table-description-col-last-2 tr th:nth-last-child(-n+2),
.table-description-col-last-2 tr td:nth-last-child(-n+2) {
  width: 200px;
}

.table-description-col-last-3 tr th:nth-last-child(-n+3),
.table-description-col-last-3 tr td:nth-last-child(-n+3) {
  width: 200px;
}

/* OVERWRITE BOOTSTRAP STYLE */
/*.table-bordered td, .table-bordered th {
  border-color: #fff!important;
}*/

/* SET 1ST n COLUMNS' WIDTHS OF OBJECT PAGE TABLES */
.table {
	width: 100%;
	table-layout: fixed;
}

.table-index-set-col-width-1 tr th:nth-child(-n+1),
.table-index-set-col-width-1 tr td:nth-child(-n+1) {
  /*width: 20%!important;*/
  width: 200px!important;
}

.table-index-set-col-width-2 tr th:nth-child(-n+2),
.table-index-set-col-width-2 tr td:nth-child(-n+2) {
  /*width: 20%!important;*/
  width: 200px!important;
}

.table-index-set-col-width-3 tr th:nth-child(-n+3),
.table-index-set-col-width-3 tr td:nth-child(-n+3) {
  /*width: 20%!important;*/
  width: 200px!important;
}

.table-index-set-col-width-4 tr th:nth-child(-n+4),
.table-index-set-col-width-4 tr td:nth-child(-n+4) {
  /*width: 20%!important;*/
  width: 200px!important;
}
/* ==================================  ALL TABLES  ================================== */

th {
  font-size: 1rem;
}

td {
  font-size: 1rem;
}

/* FIX TABLE ALIGNMENT TO TOP */
.table thead th, 
.table tbody td {
  vertical-align: top!important;
}

/* ==================================  OBJECT PAGES  ================================== */

/* TOP MARGIN BETWEEN EACH OBJECT PAGE ITEM */

h4 {
	display: inline
}

.object-section {
	margin-top: 50px;
	
}

/* MARGINS BETWEEN OBJECT PAGE BUTTONS */
.object-btn {
	margin-right: 15px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.object-section-anchor {
	display: block;
	position: relative;
	top: -12vh;
	visibility: hidden;
}

/* SET HEADER COLUMN WIDTH (DETAILS TABLE) OF OBJECT PAGES */
.table-vertical-headers {
	width: 100%;
}

.table-vertical-headers th {
	width: 20%;
}

/* SET 1ST n COLUMNS' WIDTHS OF OBJECT PAGE TABLES */
.table-set-col-width tr th:nth-child(-n+2) {
  width: 20%!important;
}

.table-set-col-width-one tr th:nth-child(-n+1){
	width: 20%!important;
}

.table-set-col-width td div{
  overflow-wrap: break-word;
}

.table-set-col-width-one td div{
  overflow-wrap: break-word;
}

.table-vertical-headers th,.table-vertical-headers td {
    border-top: transparent;
}

.dashboard-th{
    text-align: center;
    border: 0px;
    border-bottom: 2px solid grey;
    font-size: 2vh !important;
}
.dashboard-td{
	vertical-align: middle;
	text-align: center;
	border: 0px;
	font-size: 2vh !important;
	padding:25;
}

.dashboard-td-legends{
    vertical-align: middle;
    text-align: center;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid grey;
    border-bottom: 2px solid black;
	padding:25;
}
.diag {
  text-align: center;
}
/* ==================================  BUTTONS ================================== */
.btn-d, .btn-d:hover, .btn-d:focus {
    color: #FFF !important;
    background: rgba(0, 0, 0, 0.71);
}
.btn {
    margin: 0 5px 5px 0;
}
/* ==============================================================
   CATEGORIES
   ============================================================== */
   @media (max-width: 992px) {
    .category-responsive {
      max-width: 50%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }
  
  @media (max-width: 576px) {
    .category-responsive {
      max-width: 100%;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }
  
  .category-wrap:hover {
    text-decoration: none; }
  
  .category-wrap:hover .category-block {
    background: #00acee;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  
  .category-wrap:hover .category-img path {
    text-decoration: none;
    fill: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  
  .category-wrap:hover .category-block h6 {
    color: #fff;
    text-decoration: none; }
  
  .category-block {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #e5e7ef;
    padding: 30px;
    margin: 0 0 30px;
    min-height: 170px; }
    .category-block h6 {
      color: #3e434b;
      margin: 10px 0 0; }
  
  .category-img {
    width: 64px;
    height: 64px; }

/* ==============================================================
   FIND PLACES
============================================================== */
.main-block {
  padding: 40px 0; }
  @media (max-width: 768px) {
    .main-block {
      padding: 20px 0; } }
      
.styled-heading {
  text-align: center;
  margin: 0 0 50px; }
  @media (max-width: 768px) {
    .styled-heading {
      margin: 0 0 30px; } }
  .styled-heading h3 {
    position: relative;
    padding: 0 0 23px; }
    .styled-heading h3:after {
      position: absolute;
      content: "";
      width: 60px;
      height: 3px;
      background: #ff3a6d;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.find-img-align {
  padding: 0 0 15px; }
  @media (max-width: 768px) {
    .find-img-align {
      padding: 0; } }

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media (max-width: 992px) {
  .grid figure figcaption {
    padding: 0.7em;
  }
}

.grid figure figcaption h5 {
  font-weight: 400;
  text-align: left;
}
@media (max-width: 992px) {
  .grid figure figcaption h5 {
    font-size: 22px;
  }
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h5 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h5 span {
  font-weight: 800;
}

.grid figure h5,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-weight: 300;
  text-align: left;
  margin: 6px 0 0;
}

/* Individual effects */

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
  background-color: #000;
}

figure.effect-ruby img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

figure.effect-ruby:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-ruby h2 {
  margin-top: 20%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

/*figure.effect-ruby p {
  margin: 1em 0 0;
  padding: 3em;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0) scale(1.1);
  transform: translate3d(0,20px,0) scale(1.1);
  } */

  figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

/*figure.effect-ruby:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
}*/

a, a:hover, a:active, a:focus {
    color: #2256a4;
}

hr{
    border-top: 2px solid #212529;
}

/* TREE */

input[type=checkbox] { display: none; }

input[type=checkbox] ~ ul { 
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	white-space:nowrap;
   -webkit-transition:all 1s ease;  
   -moz-transition:all 1s ease;  
   -o-transition:all 1s ease;  
   transition:all 1s ease;  
        
}

input[type=checkbox]:checked ~ ul { 
	max-height: 100%;
	max-width: 100%;
	opacity: 1;
}

input[type=checkbox] + label:before{
	transform-origin:25% 50%;
	margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
	color: #AAAFAB;
   -webkit-transition:all .5s ease;  
   -moz-transition:all .5s ease;  
   -o-transition:all .5s ease;  
   transition:all .5s ease; 
	position: absolute;
	margin-top: 1px;
}

ul.liste_depliable {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
}

li.depliable, li.non_depliable { 
    padding-left: 16px; 
}

li.depliable input[type=checkbox] + label::before {
    content: "+"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: green; /* Or a color you prefer */
}

li.depliable input[type=checkbox]:checked + label::before {
    content: "-"; /* Insert content that looks like bullets */
    color: red; /* Or a color you prefer */
}

li.non_depliable input[type=checkbox] + label::before, li.non_depliable input[type=checkbox]:checked + label::before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: blue; /* Or a color you prefer */
}

/* ================================  BUTTON SHARE  ================================ */

.copiedtext {
  position: inline-block;
  left: 0; top: 0; right: 0;
  text-align: center;
  opacity: 0;
  color: white;
  transition: all .500s;
}
.copied .copiedtext {
  opacity: 1;
}
